* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(2, 114, 179);
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgb(228, 240, 251);
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  width: 100%;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  background-color: rgb(190, 224, 255);
  border-radius: 20px 20px 0 0;
}

.list-title,
.add-new {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgb(140, 140, 140);
}

.list-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.addnewdo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#add-new-input {
  width: 90%;
  font-size: 15px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgba(240, 248, 255, 0);
}

#add-btn {
  background-color: rgba(240, 248, 255, 0);
  border: none;
}

.list {
  width: 100%;
}

li {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgb(140, 140, 140);
}

#clear-btn {
  width: 100%;
  border: none;
  font-size: 15px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  background-color: rgb(190, 224, 255);
  border-radius: 0 0 20px 20px;
}

#clear-btn:hover {
  font-weight: bold;
  color: rgb(2, 88, 138);
}

.icon {
  opacity: 0.5;
  cursor: pointer;
}

.icon:hover {
  opacity: 1;
}

.task-description {
  background: transparent;
  width: 90%;
  padding: 5px;
  border: none;
  outline: none;
}

.strike {
  text-decoration: line-through;
}

.no-strike {
  text-decoration: none;
}
